TADEO_XSDS/tadeobank.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.example.com"
           xmlns:tns="https://www.example.com"
           elementFormDefault="qualified">

  <xs:element name="bank" type="tns:bankType"/>

  <xs:complexType name="bankType">
    <xs:sequence>
      <xs:element name="accountnum" type="xs:long"/>
      <xs:element name="balance" type="xs:short"/>
      <xs:element name="bank" type="xs:string"/>
      <xs:element name="branch" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>