TADEO_XSDS/tadeoelection.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.example.com"
  xmlns="https://www.example.com"
  elementFormDefault="qualified">

  <xs:element name="election">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="age" type="xs:int"/>
        <xs:element name="candidacyfiled" type="xs:date"/>
        <xs:element name="candidatename" type="xs:string"/>
        <xs:element name="runningFor" type="xs:string"/>
        <xs:element name="runningIn" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>