TADEO XSDS/tadeomovies.xsd

<?xml version="1.0" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" 
attributeFormDefault="unqualified">

  <xs:element name="movies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="director" type="xs:string" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="rating" type="xs:decimal" />
        <xs:element name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>